$green: #005200

.defaultBorder
  border: 2px solid #666


html, body
  margin: 0
  padding: 0
  font-family: sans-serif
  
div
  box-sizing: border-box

.container
  max-width: 1200px
  margin: 0 auto

h1 
  text-align: right

.gameTable
  background-color: $green
  width: 100%
  padding: 25px
  @extend .defaultBorder
  display: flex
  justify-content: center
  flex-wrap: wrap

.letter
  background: white
  text-transform: uppercase
  font-size: 50px
  font-weight: 500
  height: 100px
  width: 70px
  border: 3px solid black
  margin: 5px
  line-height: 100px
  text-align: center
  
.folded
  background-color: #777
  font-size: 0
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.6)
  
.space
  background: $green
  
.pickBoard
  min-height: 300px
  width: 100%
  @extend .defaultBorder
  h4
    margin-top: 0

.inputFields
  padding: 20px
  width: 40%
  float: left
  min-height: 300px
  border-right: 2px solid #666
  

.usedUp
  padding: 20px
  width: 60%
  float: left
  min-height: 100px
  text-transform: uppercase
  

.gameLog
  padding: 20px
  width: 60%
  float: left
  height: 200px
  text-transform: uppercase
  overflow-y: scroll
  //overflow-x: hidden
  
    
.gameStatus
  padding: 20px
  border: 1px solid black
  height: 60px
  width: 100%
  text-align: center
  
.wordContainer
  display: flex