doctype html
html
  head
    meta(charset="utf-8")
    title Amazing Wheel Of Fortune
    link(rel="stylesheet" href="assets/css/style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="assets/js/scripts.js")
  
  body
    .container
      h1 Wheel of Fortune!
      .gameTable.js-board
        .wordContainer.js-word
          .letter.js-letter.folded a
      
      .gameStatus.js-status
      
      .pickBoard.js-pick
        .inputFields
          span.textLabel Pick Letter: 
          br
          input.js-input(type="text")
          br
          span.textLabel Type Password: 
          br
          input.js-pass(type="text")
          
        
        .usedUp
          h4 Already used letters:
        
        .gameLog.js-log
          h4 Game log:
          
